# controlers ignors
*/_1temp_*
*/*/_1temp_*
*/*/*/_1temp_*
*/datasheets

/*/Listings
/*/Debug
/*/*/Debug
/*/*/*/Debug

/*/Release
/*/*/Release
/*/*/*/Release

*.launch
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt

*/solodov
